*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body,html{
    width: 100%;
}
.navbar{
    background-color:brown ;
}
#header-text{
    background-image: url(./assets/images/background.png);
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
}
 .py1-1{
    padding-top: 150px; 
 } 
 .displays{
    font-size: 25px;
    font-weight: 300;
}
.card{
    width: 350px !important;
    margin: 0 auto !important;
    /* position: relative; */
    top: -70px !important;
  
}
.images{
    margin: 0 auto;
    margin-top: -50px;
    padding-left: 20px;
}
.fixed-bottom{
    background-color: burlywood;
    width: 100px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
} 
@media  only screen and (max-width:900px) {
    .card{
        width: 80%!important;
        right: 0px !important;
    }
    
}
@media  only screen and (min-width:1024px) {
    .card{
        width: 90%!important;
        right: 0px !important;
    }
    
}


